In [2]:
%matplotlib inline

import os
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
from matplotlib import cm
import pandas as pd
import numpy as np

import statsmodels.api as sm1 #Usa OLS com X como matriz de planejamento
import statsmodels.formula.api as sm  #Usa OLS como no R

print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\VictorHugo\Documents\GitHub\CD\Projeto 3

In [3]:
dados = pd.read_excel('Dados.xlsx',index_col=0)

In [4]:
dados.head()

                         HDI  UnderFiveMortality  TotalFertilityRate
Pais
Abkhazia                 NaN                 NaN                 NaN
Afghanistan            0.363               113.2                6.46
Akrotiri and Dhekelia    NaN                 NaN                 NaN
Åland                    NaN                 NaN                 NaN
South Sudan              NaN               125.7                 NaN

In [5]:
#Retirar NaN
dados=dados[~np.isnan(dados.HDI)]
dados=dados[~np.isnan(dados.UnderFiveMortality)]
dados=dados[~np.isnan(dados.TotalFertilityRate)]

In [6]:
dados.head()

               HDI  UnderFiveMortality  TotalFertilityRate
Pais
Afghanistan  0.363               113.2                6.46
Albania      0.729                18.7                1.80
Algeria      0.680                30.7                2.66
Angola       0.471               196.4                6.52
Argentina    0.780                15.8                2.25

In [7]:
dados.head(1)

               HDI  UnderFiveMortality  TotalFertilityRate
Pais
Afghanistan  0.363               113.2                6.46

In [8]:
x=
y=

m = sum(a*b for (a,b) in zip(x,y)) - sum(x) * sum(y) / len(x)
m /= sum(a**2 for a in x) - (sum(x)**2)/len(x)
b = sum(y)/len(y) - m * sum(x)/len(x)

SyntaxError: invalid syntax (<ipython-input-8-f43ba202c68f>, line 1)